$app-width = 885px;
$app-height = 550px;
$app-bg = #F6F9FD;

$sidebar-width = 300px;

$menu-bar-width = 60px;
$menu-bar-bg = #323A43;

$search-bar-width = $sidebar-width - $menu-bar-width;
$search-bar-height = 50px;
$search-bar-bg = #353A42;

$menu-content-bg = #383F47;


$content-width = $app-width - $sidebar-width;






// message box
$left-message-box-bg-color = #6c7989;
$left-message-box-font-color = #e0e0e0;

$right-message-box-bg-color = #525C68;
$right-message-box-font-color = #d6d6d6;